@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


$break-large: 900px;

/*todo make a theme.css*/
* {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  color: #333;
  line-height: 1.2;
  margin: 0;
}

body {
  background-color: #f0f0f0;
}

h1 {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-weight: 900;
  height: auto;
  margin: 1rem 0;
}

.content-outer {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: #333;
  padding: 1rem;
  margin-left: 10vw;
  margin-right: 10vw;

  @media screen and (max-width: $break-large) {
    margin-left: 0;
    margin-right: 0;
  }

  .content {
    width: 70%;
    padding-bottom: 40vh;

    @media screen and (max-width: $break-large) {
      width: 90%;
    }

    .word {
      display: inline-block;
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.5rem;
      margin: 5px;
    }

    .next-word {
      display: inline-block;
      height: 1.5rem;
      width: 0.5rem;
      margin: 5px;
      vertical-align: bottom;
      background-color: #CEDFD9;
      animation: blink 2s infinite;
    }
  }
}

.word-enter {
  opacity: 0;
  transform: translateX(-25px);
  color: red;
}

.word-enter.word-enter-active {
  opacity: 1;
  color: black;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s, color 0.5s;
}

@keyframes blink {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}